.checkboxLabel {
  padding: 8px 24px;
  display: flex;
  column-gap: 16px;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #202020;
  cursor: pointer;
  user-select: none;
}

.inputCheckbox {
  display: none;
}

.checkbox {
  width: 16px;
  height: 16px;
  color: #c5c5c5;
  transition: color 0.2s;
}

.checkboxLabel:hover .checkbox {
  color: #8caee0;
}

.checkbox path {
  opacity: 0;
  transition: opacity 0.2s;
}

.checkboxActive {
  width: 16px;
  height: 16px;
  color: #5c89ce;
  transition: color 0.2s;
}
.checkboxActive path {
  opacity: 1;
  color: #5c89ce;
  transition: color 0.2s;
}

.checkboxLabel:hover .checkboxActive,
.checkboxLabel:hover .checkboxActive path {
  color: #8caee0;
}
