.radioLabel {
  padding: 8px 24px;
  display: flex;
  column-gap: 16px;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33333;
  color: #202020;
  cursor: pointer;
}

.inputRadio {
  display: none;
}

.radio {
  width: 16px;
  height: 16px;
  border: 2px solid #c5c5c5;
  border-radius: 50%;
  position: relative;
  font-size: 0;
  transition: border 0.2s;
}

.radioLabel:hover .radio {
  border: 2px solid #8caee0;
}

.radioActive {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 2px solid #5c89ce;
  border-radius: 50%;
  position: relative;
  font-size: 0;
  transition: border 0.2s;
}

.radioActive div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #5c89ce;
  border-radius: 50%;
  font-size: 0;
  transition: background-color 0.2s;
}

.radioLabel:hover .radioActive {
  border: 2px solid #8caee0;
}

.radioLabel:hover .radioActive div {
  background-color: #8caee0;
}
