.card {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 16px;
  height: 204px;
  background: #f9f9f9;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
  border-radius: 16px;
  min-width: 293.33px;
  flex-grow: 1;
  flex-basis: calc((100% - 64px) / 3);
  transition: box-shadow 0.2s;
}

.card:hover {
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.08);
}

.infoCard {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}

.svg {
  width: 16px;
  height: 16px;
  opacity: 0;
  transition: opacity 0.2s;
}

.card:hover .svg {
  opacity: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 48px);
}

.cash {
  font-size: 16px;
  line-height: 24px;
}

.expWrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.experience {
  width: 12px;
  height: 12px;
}
