.filterItem {
  width: 352px;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33333;
  color: #747474;

  background-color: #f9f9f9;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  border-radius: 16px;
}

.input {
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33333;
  color: #747474;
}

.icons {
  width: 16px;
  height: 16px;
}

.chevronDown {
  width: 12px;
  height: 12px;
  margin-left: auto;
}
