.filter {
  background-color: #f6f6f6;
  /* background-color: #f6c6f6; */
  padding: 48px 0 32px;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
}

.filterlist {
  display: flex;
  column-gap: 32px;
}

.filterItem {
  display: flex;
}
