.filterItem {
  width: 352px;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33333;
  color: #747474;

  background-color: #f9f9f9;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  border-radius: 16px 16px 16px 16px;
  transition: background-color 0.2s;
  overflow: hidden;
  transition: color 0.2s;
}

.filterItem:hover {
  color: #202020;
}

.filterItem:hover .chevronDown {
  color: #202020;
}

.icons {
  width: 16px;
  height: 16px;
  z-index: 2;
}

.filterItemActive {
  color: #202020;
}

.chevronDown {
  width: 12px;
  height: 12px;
  margin-left: auto;
  transition: transform 0.2s;
  color: #747474;
  transition: color 0.2s;
}

.chevronDownRotate {
  transform: rotate(90deg);
  color: #202020;
}

@media (max-width: 1279px) {
  .filterItem {
    width: 293px;
  }
}

.list {
  left: 0;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  background: #f9f9f9;
  width: 100%;
}

.item {
  display: block;
}

.item:first-child {
  padding-top: 8px;
}

.item:not(:last-child) {
  padding-bottom: 4px;
}
.item:last-child {
  padding-bottom: 16px;
}
