.header {
  min-width: 1120px;

  position: sticky;
  z-index: 100;
  top: 0;
  box-shadow: var(--boxShadowColor);
  background-color: var(--bgAccentColor);
  padding: 24px 0;
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 328px;
}

.logoLink {
  font-size: 0;
}

.logoIcon {
  width: 170px;
  height: 24px;
}

.navList {
  display: flex;
  align-items: center;
  column-gap: 72px;
}

.navLink {
  font-weight: var(--fontWeightBold);
  font-size: var(--texMedium);
  line-height: var(--lineHeightNav);
  color: var(--colorNavLink);
  transition: color 0.2s;
}

.navLink:hover {
  color: var(--colorNavLinkHover);
}

.navLink.active {
  color: var(--colorAccent);
}

.navLink:hover.active {
  color: var(--colorNavLinkHover);
}

@media (max-width: 1599px) {
  .headerWrapper {
    gap: 220px;
  }
}

@media (max-width: 1279px) {
  .headerWrapper {
    gap: 130px;
  }
}
