.footer {
  min-width: 1120px;

  padding: 32px 0;

  font-size: var(--texMedium);
  line-height: var(--lineHeightSmall);
  color: var(--colorGray);

  background-color: var(--bgColor);
}

.footer a {
  text-decoration: underline;
}
