.filterItem {
  width: 100%;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  column-gap: 16px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.33333;
  color: #747474;

  background-color: #f9f9f9;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  border-radius: 16px 16px 16px 16px;
  transition: background-color 0.2s;
  overflow: hidden;
  transition: background-color 0.2s;
}

.filterItemActive {
  color: #202020;
  background-color: #ebf1fa;
  border-radius: 16px 16px 0px 0px;
}

.filterItem:hover {
  background-color: #ebf1fa;
  /* color: #202020; */
}

.icons {
  width: 16px;
  height: 16px;
  z-index: 2;
}

.chevronDown {
  width: 12px;
  height: 12px;
  margin-left: auto;
  transition: transform 0.2s;
}

.chevronDownRotate {
  transform: rotate(90deg);
}

.wrapper {
  position: absolute;
  width: 100%;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  background: #f9f9f9;
  border-radius: 0 0 16px 16px;
  max-height: 612px;
  overflow: scroll;
  overflow-x: hidden;
  z-index: 5;
}

.wrapper::-webkit-scrollbar {
  width: 4px;
  height: 10px;
  max-height: 10px;
}

.wrapper::-webkit-scrollbar-track {
  background-color: #f9f9f9;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #5c89ce;
  border-radius: 7px;
}

.list {
  left: 0;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.03);
  background-color: #f9f9f9;
  width: 100%;
}

.item {
  display: block;
}

.item:first-child {
  padding-top: 8px;
}

.item:not(:last-child) {
  padding-bottom: 4px;
}
.item:last-child {
  padding-bottom: 16px;
}
